@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

/* Surlignage */
::selection {
    background-color: #2195f3b3;
    color: whitesmoke;
}

::-moz-selection {
    background-color: #2195f3b3;
    color: whitesmoke;
}

/* Scroll bar */
::-webkit-scrollbar {
    width: 10px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #2195f3b3;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #2195f3;
}

  